nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
button > p {
    font-size: 24px;
    text-align: center;
}
button {
    width: 150px;
    height: 75px;
    border: 2px black solid;
    box-shadow: 0px 4px 4px rgba(0,0,0,.4);
}
button:hover:not(.selected) {
    cursor:pointer;
    background-color: rgba(255, 150, 0, 0.1);
}
.selected {
    background-color: rgba(255,150,0,0.4);
}
img {
    width: 90px;
    height: 90px;
}
nav > *:first-child {
    transform: rotate(-25deg);
}
nav > *:last-child {
    transform: rotate(25deg);
}
